.shopItem {
    width: 100%;
    min-height: 200px;
    border-radius: 6px;
    border: 1px solid #d6d6d6;
    background: #fff;
    text-align: center;
    cursor: pointer;
}

.shopping_list {
    padding: 60px 10px 10px;
    line-height: 34px;
    border-right: 2px solid #2B2516;
    height: 100%;
    position: relative;
    background-color: #FFEFCA;
}

.shop_list_frame {
	padding-top: 50px;
}