.shopItem {
    width: 100%;
    min-height: 200px;
    border-radius: 6px;
    border: 1px solid #d6d6d6;
    background: #fff;
    text-align: center;
    cursor: pointer;
}

.shopping_list {
    padding: 60px 10px 10px;
    line-height: 34px;
    border-right: 2px solid #2B2516;
    height: 100%;
    position: relative;
    background-color: #FFEFCA;

    /*temporary*/
    width: 150px;
    position: fixed;
    /*end tamp*/
}

.shop_item_out_of_stock {
    opacity: 0.3;
}

.shop_list_frame {
    padding-top: 50px;
}

.shop_item {
    position: relative;
}

.shop_item_icon img {
    max-width: 100%;
}

.shop_item_frame {
    width: 31%;
    display: inline-block;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    text-align: center;
    margin: 1%;

    .shop_item_icon {
        box-sizing: border-box;
        height: 250px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        img {
            max-height: 100%;
        }
    }
}

.shop_item_price {
    position: absolute;
    height: 60px;
    min-width: 100px;
    color: #fff;
    top: -10px;
    border-radius: 0;
    line-height: 60px;
    font-size: 30px;
    background-color: #E43F3F;
    right: -10px;
    overflow: hidden;
    transform: rotate(0deg);

    &:before, &:after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: -10px;
        top: -10px;
    }

    &:before {
        box-shadow: 0 0 20px 50px rgba(191, 44, 44, 0.9);
        z-index: -1;
    }

    &:after {
        left: auto;
        right: -10px;
    }

    span {
        &:before, &:after {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            background: #fff;
            border-radius: 50%;
            position: absolute;
            left: -10px;
            bottom: -10px;
        }

        &:after {
            left: auto;
            right: -10px;
        }
    }
}

.shop_item_title {
    background-color: #8E2323;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
