html, body {
    width: 100%;
    height: 100%;
    background: #fff;
    color: #555;
}

div#app {
    height: 100%;
    box-sizing: border-box;
}

.counter {
    background-image: url(../images/blat.png);
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 66px;
}
 
/*shopping list left panel*/
.shopping_list {
    padding: 20px 10px;
}

/*items view*/
.items_frame {
    margin: auto;
    padding: 20px;
}

@import './components/dialog';
@import './components/levelsList';
@import './components/shopItem';
@import './components/shoppingCart';
