DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': '{{ db_name }}',
        'USER': '{{ db_user }}',
        'PASSWORD': '{{ db_password }}',
        'HOST': '{{ db_host }}',
        'PORT': '{{ db_port }}',
    }
}

AWS_URL = "{{ aws_url }}"
AWS_ACCESS_KEY_ID = "{{ aws_access_key }}"
AWS_SECRET_ACCESS_KEY = "{{ aws_secret_access_key }}"
AWS_STORAGE_BUCKET_NAME = "{{ aws_storage_bucket_name }}"
AWS_QUERYSTRING_AUTH = False

DEBUG = True
TEMPLATE_DEBUG = True
